@import "./bootstrap"

.delete_row
.edit_row
	vertical-align: middle !important
	text-align: center
	cursor: pointer;

table > thead
	font-size 14px
	font-weight 400

table > tbody
	font-size 14px
	font-weight 200

.close-button
	cursor: pointer

.l-mb-20
	margin-bottom: 20px

.l-mt-20
	margin-top: 20px

.last-col-nowrap
	> tbody > tr > td:last-child
		white-space nowrap

#footer
	margin-top: 60px

.row-highlighted
	> td:nth-child(n+3)
		background $state-success-bg !important

.cell-highlighted
	position: relative !important
	&:before
		content: ""
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		border 2px solid $brand-danger

tr:focus
td:focus
	background: red !important

.form-wrapper
	max-width 600px

//.delete_row
//  background: #f6d8ce;
//
//.edit_row
//  background: #f5f6ce;